body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(203, 203, 203);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Container {
  text-align: center;
  list-style-position: inside;
}
.head{
  font-size: 15vh;
}
.ordered-list-item {
margin: 2.5vh;
font-size: 2.5vh;
padding: 2.5vh;
color:white;
background-color: rgb(65, 65, 65);
}

.unordered-list-item {
  margin: 2.5vh;
  font-size: 2.5vh;
  padding: 2.5vh;
  color:white;
  background-color: rgb(65, 65, 65);
}